app/CarData/

venv/
.env

app/CarData/
app/car_damage_data.json
app/gemma_car_damage_data.json
app/manual_car_damage_data.json

backend/CarData/
backend/generated_car_damage_data.json
backend/manual_car_damage_data.json
backend/__pycache__