app/CarData/

venv/
.env

app/CarData/
app/car_damage_data.json
app/gemma_damage_data.json
app/manual_damage_data.json

backend/CarData/
backend/gemma_damage_data.json
backend/manual_damage_data.json
backend/__pycache__